Django==4.2.16
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
gunicorn==23.0.0
Jinja2==2.11.3
jsonrpc==3.0.1
keyring==18.0.1
oauthlib==3.1.0
phonenumbers==8.13.11
Pillow==9.0.1
psycopg2==2.8.6
psycopg2-binary==2.9.10
PyJWT==1.7.1
pyOpenSSL==20.0.1
PyPDF2==1.26.0
pytz==2019.3
redis==5.0.7
reportlab==3.5.59
requests==2.25.1
simplejson==3.16.0
Twisted==24.7.0
Werkzeug==0.16.1
whitenoise==6.7.0
xmlschema==3.3.1
xmltodict==0.13.0
